
#root {
    --gradient-color-1: #ff7e5f;
    --gradient-color-2: #feb47b;
    
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

hr {
  width: 50%;
}

div {
  
}