
#root {
    --gradient-color-1: #ff7e5f;
    --gradient-color-2: #feb47b;
    
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

hr {
  width: 50%;
}

.counter {
  position: absolute; 
  z-index: 999;
  padding: 0 5px;
  border-radius: 5px;
  text-justify: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  background-color: rgba(0, 0, 0, 0.8); 
  user-select: none;
}

img {
  width: 100px;
  transform: translateX(-50px) translateY(-50px);
  transition: transform 0.5s;
  user-select: none;
  
  
  &:nth-last-of-type(-n + 100):hover
    {
      transform: translateX(-50px) translateY(-50px) scale(1.1);
    }
}

.milestone {
  transition: 1s;
  user-select: none;
  z-index: 999;

}
.milestone-changed {
  transform: scale(1) translateY(-50px);
  opacity: 0;
}


#helper {
  opacity: 75%;
  position:fixed;
  display: flex;
  flex-direction:row;
  gap: 15px;
  transition: opacity 0.5s ease;
  z-index: 9999999;
  .main {
    height: 50px;
    align-self: center;
    transition: height 0.5s ease;
  }
  .top, .bottom {
    transform: scaleY(0);
    transition: transform 0.5s ease;
  }
  .top {
    align-self: center;
  }
  &:hover {
    .top, .bottom {
      transform: scaleY(1);
    }
    opacity: 100%;
    .main {
      height: 100px;
    }
  }

}

.leaderboard {
  
  
  .leaderboard-item {

  }
}
